.btn-logout
{
    font-family: medium;
    font-size: 17px;
}
#logout
{
    p
    {
        margin: 0px;
        a
        {
            color:$red;
            font-size: 17px;
        }
    }    
}

