.teams
{
  .create-team-banner
  {
    background: $background;
    padding: 60px 0px;
    .text
    {
      p
      {
        color:$silver;
        margin-bottom: 30px;
      }
      @media (max-width:991px) {
        margin-bottom: 10px;
      }
      @media (max-width:767px) {
        display: flex;
        align-items: center;
      }
      .inner-img
      {
        min-width: 100px;
        margin-left:20px;
        @media (min-width:768px) {
          display: none;
        }
      }
    }
    .outer-img
    {
      max-width: 400px; 
      display: block;
      margin: 0 auto;
      @media (max-width:767px) {
        display: none !important;
      }
    }
  }
}

.my-teams
{
  padding: 50px 0px;
}
.team-box
{
  margin-bottom: 20px;
  .img-holder
  {
      position: relative;
      padding-top:60%;
      img
      {
          object-fit: cover;
          object-position: center;
          width:100%;
          height: 100%;
          position:absolute;
          left: 0px;
          top: 0px;
      }
      margin-bottom: 5px;
  }
  a
  {
      color:#111;
      font-family: semibold;
      font-size: 18px;
      &:hover
      {
          color:$red;
      }
  }
  p{

      color:$silver;
      margin: 0px;
  }
}
.all-teams
{
  padding: 50px 0px;
  background: $background;
}
.join-team
{
  padding: 40px 0px 60px;
  .img-holder
  {
    position: relative;
    padding-top: 60%;
    img
    {
      width: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center;
      left: 0px;
      top: 0px;
      height: 100%;
    }
  }
  .team-info
  {
    height: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width:767px) {
      margin-top:10px;
    }
    .text
    {
      flex-grow: 1;
      overflow: hidden;
    }
    h3
    {
      font-size: 17px;
      line-height: 16px;
      color:#000;
      font-family: semibold;
      margin: 10px 0px;
    }
    span
    {
      color:$grey;
      display: block;
      padding: 0px 0px 5px 0px;
    }
    p
    {
      font-size: 16px;
      color:#000;
    }
  }
}


.info-msg
{
  background: $skin;
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0px 20px;
  text-align: left !important;
  display: inline-block;
  p
  {
    margin: 0px;  
    color:$grey;  
  }
}



.team-posts
{
  padding: 60px 0px 80px;
  background: $background;
  border-top:2px solid #eee;
  border-bottom:2px solid #eee;
  @media (max-width:767px) {
    padding: 40px 0px 60px;
  }
  .publisher
  {
    text-align:center;
    .img-holder
    {
      height: 100px;
      width: 100px;
      position: relative;
      display: block;
      margin: 0 auto 20px;
      img
      {
        position: absolute;
        left: 0px;
        top:0px;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        border-radius: 100%;
      }
    }
  }
  .posts
  {
    @media (max-width:767px) {
      margin-top:20px;
    }
  }
}

.team-details
{
  padding: 60px 0px;
  .common-h
  {
    text-align: center;
  }
  .about-team
  {
    ul
    {
      li
      {
        display: block;
        margin-bottom: 20px;
        &:last-child
        {
          margin-bottom: 0px;
        }
        p{
          margin: 0px;
          color:#000;
        }
        span
        {
          color:$silver;
        }
      }
    }
  }
  .members
  {
    .single-member
    {
      margin-bottom: 30px;
      a
      {
        display: flex;
        align-items: center;
      }
      .img-holder
      {
        height: 50px;
        width: 50px;
        position: relative;
        display: block;
        margin-right: 15px;
        img
        {
          position: absolute;
          left: 0px;
          top:0px;
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
          border-radius: 100%;
        }
      }
      .name-place
      {
        flex-grow: 1;
        h4{
          font-family: medium;
          font-size: 16px;
          margin: 0px;
          color:$silver;
          &:hover
          {
            color:$red;
          }
        }
        p
        {
          font-size: 14px;
          color:$silver;
          margin: 2px 0px 0px;
        }
      }
    }
  }
}




























.img-clone
{
  position: relative;
  padding-top: 60%;
  background: #f1f1f1;
  border:none;
  margin-bottom:30px;
  &::after
  {
    content: "\f03e";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400; 
    position: absolute;
    z-index:10;
    font-size: 5vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:$silver;
  }
}

.uimg-holder
{
  position: relative;
  padding-top: 60%;
  background: #f1f1f1;
  border:none;
  margin-bottom:30px;
  .remove-img
  {
    background: $maroon;
    padding: 0px 7px;
    color:#fff;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 300;
    // display: none;
  }
  img
  {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 250;   
  }
}